/*RESET CSS*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: #282828ff;
  display: grid;
  gap: 60px;
  justify-items: center;
}

@media (max-width: 600px){
  body {
    gap: 30px;
    margin-top: 20px;
  }
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p, h1, h2, h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

/*INICIO DOS ESTILOS*/

/*header*/
.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}
@media (max-width: 600px) {
  .header{
    gap: 30px;
  }
}

/*menu*/

.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.menu a {
  background: #343434ff;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: #00d4d4;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  border: 2px solid #343434ff;
  transition: 0.5s;

}

.menu a:hover {
  border: 2px solid #2a2affff;;
  background: #2a2affff;
  color: #343434ff;

}

/*Conteudo*/
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  color: #939393ff;

}

@media (max-width: 600px) {
  .conteudo {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }
}

.introducao {
  background: #343434ff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 10px;
  align-content: center;
  justify-items: end;
}
@media (max-width: 600px) {
  .introducao{
    justify-items: start;
    text-align: left;
  }
}

.introducao h1{
  color: #2a2affff;
  font-size: 3rem;

}

.introducao::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #00d4d4;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -30px;
 
}
@media (max-width: 600px) {
  .introducao::before {
    display:none;
  }
}

.introducao-cover img {
  object-fit: cover;
  height: 100%;
}

.botao {
  background: #2a2affff;
  color: #ffff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;

}

.botao:hover{
  background: #2a2aff98;
  color: #ffff;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: #2a2affff;
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background: url("../img/onda.svg");
  /* word-break: break-all; */

}

@media (max-width: 1000px) {
  .subtitulo {
    text-align: left;
  }
}
@media (max-width: 600px) {
  .subtitulo {
    font-size: 3rem;
  }
}

.vantagens {
  background: #343434ff;  
}

.vantagens-item h3 {
  color: #00d4d4;
}


.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 2.5rem;
  border-left: 4px solid #343434ff;

}


.vantagens-item p {
  grid-column: 2;
}

.vantagens-item:hover {
  border-left: 4px solid #2a2affff;
  transition: 1s;
}

.vantagens-item:nth-child(odd){
  background-color: #383838;
}

.rodape {
  color: #939393ff;
  background: #343434ff;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}
